/*
 AI-generated code:  20% Formatting help with GPT

 Human code: 80% classes: delete button

 Framework-generated code: 0%
  
*/

.delete-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  line-height: 1;
  font-size: 1.7rem;
  font-weight: 700;
  cursor: pointer;
  padding: 0;
  background-color: white;
  color: #ff4136;
  border: none;
  font-family: fantasy;
  transition: background-color 0.2s ease, color 0.2s ease,
    border-color 0.2s ease;
}

.delete-button:hover {
  color: #8d140c;
}
